*{
    margin:0px;
    padding: 0px;
}
.loadingBg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0);
    z-index: 1;
}
.loading-wrap{
    position: fixed;
      z-index: 100;
      top: 45%;
      width: 100%;
      text-align: center;
      font-size: 13px;
      font-family: sans-serif;
  }
  .loading-text{
      display: inline-block;
      margin: -24px auto auto;
      padding: 9px 20px;
      min-width: 50px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-background-clip: padding-box;
      color: #fff;
      background-color: rgba(0,0,0,0.8);
  }
  .loading-icon{
    display: block;
      margin: 5px auto 8px;
      height: 35px;
      width: 35px;
  }
  .loading-icon[am-mode~="toast-loading"]{
      -webkit-animation: rotate linear 2.6s infinite;
      animation: rotate linear 2.6s infinite;
  }
  @-webkit-keyframes rotate{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
  }
  .loading-icon::before{
    content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url(loading.png) no-repeat;
      -webkit-background-size: 105px auto;
  }
  .loading-icon[am-mode~="toast-loading"]:before{
    background-position: -70px 0;
  }
  .loading-icon[am-mode~="toast-succcess"]:before{
    background-position: 0px 0;
  }
  .loading-icon[am-mode~="toast-fail"]:before{
    background-position: -35px 0;
  }


  #msg{
  position:fixed;
  bottom:0px;
  left:15px;
  right:15px;
  text-align: center;
  color:#fff;
  font-size: 14px;
  line-height: 30px;
  height:30px;
  background: rgba(0,0,0,.6);
  border-radius: 5px;
  z-index: 999999;
}


/*登录start*/
#login{
    text-align: center;
    /*position: fixed;
    top: 0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    padding:0px;
    background: #fff;
    z-index: 9999;*/
  }
  #login .title{
    font-size: 20px;
    padding: 10px;
  }
  #login .logo{
    padding: 10px;
  }
  #login .tip{
    font-size: 16px;
  }
  #login .keywrap{
    margin-top: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  #login .key{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-align:center;
    -webkit-box-align:center;
    -moz-box-align:center;
    height: 44px;
  }
  #login .keywrap .key:first-child > div:last-child{
    border-bottom: 1px solid #ddd;
  }
  #login .key >div:first-child{
    width: 40px;
  }
  #login .key > div:last-child{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
    padding: 6px 0px;
    position: relative;
  }
  #login .key > div:last-child input{
    width: 100%;
    line-height: 30px;
    outline: none;
    color: #666;
    border: none !important;
    font-size: 16px;
    padding-right: 40px;
  }
  #login .inputCloseBtn{
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5px;
      right: 8px;
  }
  #login .inputCloseBtn img{
    margin-top: 5px;
  }
  #login .loginButton{
    margin: 25px 20px;
    background: #ea5062;
    line-height: 46px;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    opacity: 0.8;
  }
  #login .loginButton.active{
    opacity: 1;
  }
  #login .download a{
    color:#ea5062;
    text-decoration: none;

  }
  /*登录end*/