.max{
    width: 100%;
}
.header{
    margin: 2rem 0 4rem;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display:box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}
.header > div{
    text-align: center;
    -box-flex:1;
    -webkit-box-flex:1;
    -moz-box-flex:1;
}
/*.header > div:nth-child(2) a{
    padding: 0.8rem 1.2rem !important;
}*/
/*.active{
    background: #34d2c4 !important;
}*/
.header > div a{
    background: #fff;
    border:1px solid #ccc;
    padding: 0.8rem 0.5rem ;
    font-size: 1.3rem;
    color:#333;
    text-decoration: none;
    border-radius: 6px;
}
.table table{
    width:98%;
   /* border:1px solid  #34d2c4;*/
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto;
}
.table table tr th{
    padding:5px 0;
}
.table table tr td{
    padding:5px 0;
}
.table table tr th:first-child{
    width:15%;
}
.table table tr td:first-child{
    width:15%;
}
.table table tr td:nth-child(2){
    width:30%;
}
.table table tr td:nth-child(3){
    width:30%;
}
.table table tr td:last-child{
    width:25%;
}